<div class="subscription-plans">
    <h4 class="subscription-title"> Subscription Plans</h4>
    <div class="plans-div">
        <div *ngFor="let plan of stripePlans">
            <div *ngIf="plan.product.active" class="plans" >
                <h5 class="plan-title">
                    {{plan.product.name}}
                </h5>
                <span class="plan-title">
                    ₹{{plan.unit_amount / 100}}<span class="small-text">/<span *ngIf="plan.recurring.interval_count > 1">{{plan.recurring.interval_count}} </span>{{plan.recurring.interval}}</span>
                </span>
               
                <div class="h-65 mt-20">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </div>
                <div class="buyNow mt-20">
                    <button class="buyNowBtn" (click)="proceedPayment(plan.price_id,plan.product.name)">
                        BUY NOW
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
