<div class="subscription-plans">
    <img class="close-btn" src="assets/close_dark.svg" (click)="close()"/>
    <div class="plans-div">
      
        <div class="plans">
            <h5 class="plan-title">
                BASIC
            </h5>
            <h3 class="plan-title">
                $10
            </h3>
            <div class="h-65">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
            <div class="buyNow mt-20">
                <button class="buyNowBtn" (click)="proceedPayment()">
                    BUY NOW
                </button>
            </div>
           
        </div>
        <div class="plans">
            <h5 class="plan-title">
                GOLD
            </h5>
            <h3 class="plan-title">
                $20
            </h3>
            <div class="h-65">
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            </div>  
            <div class="buyNow mt-20">
                <button class="buyNowBtn" (click)="proceedPayment()">
                    BUY NOW
                </button>
            </div>
        </div>
        <div class="plans">
            <h5 class="plan-title">
                ADVANCED
            </h5>
            <h3 class="plan-title">
                $30
            </h3>
            <div class="h-65">
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            <div class="buyNow mt-20">
                <button class="buyNowBtn" (click)="proceedPayment()">
                    BUY NOW
                </button>
            </div>
        </div>
    </div>
</div>
